*{
    padding: 0;
    margin: 0;
}
.body{
    height: 915px;
    background: linear-gradient(180deg,
    rgb(181, 172, 172),
    black);
}
/* slider Auto*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 12px solid white;
    height: 360px;
    width: 400px;
    overflow: hidden;
}
.slid{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    background: black;
    animation: 14s infinite slid;
}


.img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 40px;
    height: 45px;
    width: 300px;
    border-radius: 20px;
    box-shadow: inset 1.25px 1.25px 1.75em white;
    color: black;
}


@keyframes slid{
    0%{
        transform: translateX(-800px);
    }
    20%{
        transform: translateX(-400px);
    }
    40%{
        transform: translateX(0);
    }
    60%{
        transform: translateX(400px);
    }
    80%{
        transform: translateX(800px);
    }
}


/* footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dev{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}